
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Service(s)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<script type="text/javascript">
</script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Service </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/all}"> Back to List All Services </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> isMocked </th>
                            <th> Service </th>
                            <th> Route</th>
                            <th> MockResponse</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:object="${form}">
                            <td><input type="checkbox" th:field="*{mocked}"/></td>
                            <td><input th:placeholder="ServiceName " th:field="*{name}" required/></td>
                            <td><input th:placeholder="RealUrl " th:field="*{realUrl}" required/></td>
                            <td><input th:placeholder="MockResponse " th:field="*{mock}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>