<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mocked Services</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body style="background-color:#f2f2f2" >
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Mocked Services </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th> isMocked </th>
                    <th> ServiceName</th>
                    <th> Route</th>
                    <th> MockResponse</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${entries.empty}">
                    <td colspan="2"> No Services Available, go add some!</td>
                </tr>

                <tr th:each="entry : ${entries}">
                    <td >
                        <span th:if="${entries[__${entry.key}__].mocked}" style="color:green">
                            true
                        </span>
                        <span th:if="${!entries[__${entry.key}__].mocked}" style="color:red">
                            false
                        </span>
                    </td>

                    <td><span th:text="${entry.key}"> ServiceName </span></td>
                    <td><span th:text="${entries[__${entry.key}__].realUrl}"> Route </span></td>
                    <td><span th:text="${entries[__${entry.key}__].mock}"> MockResponse </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/create}"> Add Entries </a>
            <a class="btn btn-primary" href="#" th:href="@{/edit}"
               th:classappend="${entries.empty} ? 'disabled' : ''"> Edit Entries </a>
            <a class="btn btn-warning" href="#" th:href="@{/clear}"> Clear All </a>
        </div>
    </div>
</div>
</body>


</html>