<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mocked Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <style>
    </style>
<body style="background-color:#212529">

<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="navbar-brand" href="#">Internal Proxy</a>
        </li>
        <span>
        <a class="btn btn-success" href="#" th:href="@{/create}"> Add Entries </a>
             </span>
        <span> <a class="btn btn-primary" href="#" th:href="@{/edit}"
                  th:classappend="${entries.empty} ? 'disabled' : ''"> Edit Entries </a> </span>
        <span> <a class="btn btn-warning" href="#" th:href="@{/clear}"> Clear All </a> </span>
    </ul>
</nav>
<div class="page-header">
    <h1>|</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:white"> Mocked Services </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark">
                <thead>

                <th> isMocked</th>
                <th> ServiceName</th>
                <th> Route</th>
                <th> MockResponse</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${entries.empty}">
                    <td colspan="2"> No Services Available, go add some!</td>
                </tr>

                <tr th:each="entry : ${entries}">
                    <td>
                        <span th:if="${entries[__${entry.key}__].mocked}" style="color:green">
                            true
                        </span>
                        <span th:if="${!entries[__${entry.key}__].mocked}" style="color:red">
                            false
                        </span>
                    </td>

                    <td><span th:text="${entry.key}"> ServiceName </span></td>
                    <td><span th:text="${entries[__${entry.key}__].realUrl}"> Route </span></td>
                    <td><span th:text="${entries[__${entry.key}__].mock}"> MockResponse </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>


</html>